@model IEnumerable<DropShipping.Models.Product>

@{
    ViewData["Title"] = "Produtos";
}

<h1 class="text-white">Produtos</h1>

<p>
    <a type="button" asp-action="Create" class="btn btn-light">Adicionar Produto</a>
</p>
<table class="table text-white" >
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Descrição)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Preço) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-white">
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.Descrição)
            </td>   
            <td>
                R$ @Html.DisplayFor(modelItem => item.Preço)
            </td>
            <td>
                    <a type="button" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a type="button" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
                    <a type="button" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
