@model IEnumerable<DropShipping.Models.Product>

@{
    ViewData["Title"] = "Produtos";
}


@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}


<h1 class="text-white">Produtos</h1>

<p>
    <a type="button" asp-action="Create" class="btn btn-light">Adicionar Produto</a>
</p>

<!doctype html>
<html class="dark">
<table class="table text-white" data-bs-theme="dark" id="tprodutos">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrição)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preço)
            </th>
            <th> @* Empty for buttons *@</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-white" data-bs-theme="dark">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descrição)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Preço)
                </td>
                <td>
                    <a type="button" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a type="button" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
                    <a type="button" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>
</html>


